form.contact_form .btn {
	width: 320px;
	height: 70px;
	background-color: $btn-bg-color;
	font: 1em $main-font;
	color: #fff;
	margin-left: 15px;

	&:active {
		background-color: #16A287;
	}

	&:focus {
	outline: none;
	outline-offset: 0px;
	}
}

#submit_button:hover {
	background-color: $btn-bg-color-hover;
}

#submit_button:active {
	box-shadow: none;
	background-color: #16A287;
}

.has-feedback .form-control-feedback {
    position: absolute;
    top: 3px;
    right: 15px;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 50px;
    text-align: center;
}