.main_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width:100%;
	background-image: url("/assets/images/Homebackground3.jpg");
}

.main_title{
	font: 6em $logo-font;
	margin: auto;
	text-align: center;
	padding-top: 15%;
}

.main_text {
	font: 3em $main-font;
	text-align: center;
}

.bold_text {
	font-weight: 700;
}

.main_CTA {
	display: inline;
	font-size: 2em
}

.CTA_btn.left {
	float: left;
	height: 60px;
	width: 300px;
	margin-left: 33.5%;
	margin-top:1%;
	margin-bottom: 1%;
	padding-top: 0.4%;
	background-color: $btn-bg-color;
	color: #fff;
	text-align: center;
}
	
.CTA_btn.right {
	float: right;
	height: 60px;
	width: 300px;
	margin-right: 33.5%;
	margin-top:1%;
	margin-bottom: 1%;
	padding-top: 0.4%;
	background-color: $btn-bg-color;
	color: #fff;
	text-align: center;
}