.home_main_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width: 100%;
	height:auto;
	// height: auto;
	overflow: auto;
	background-image: url("/assets/images/Homebackground6.jpg"); 
	background-repeat: no-repeat;
	// background-attachment: fixed;
	background-size: cover;
	-moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;

    @media screen 
	and (orientation: portrait) 
	and (max-width: 500px) {
	background-image: url("/assets/images/Homebackground6mobile.jpg");
	}
}

// .home_main_container::before {
// 	content: " ";
//    position: absolute;
//    width: 100%;
//  	  height: 100%;
//  	  z-index: -1;
//    	background-image: url("/assets/images/Homebackground4.jpg");
// 	background-repeat: no-repeat;
// 	background-size: cover;
// }

.main-content {
	width: 60%;
	margin: 0 auto;
	padding-top: 7%;

	@media (max-width: 500px) {
	width: 80%;
	padding-top: 30%;
	}
}

// @media (max-height:620px) {
// 	.main-content {
// 	overflow: scroll;
// }
// }

// @media (max-height:620px) {
// 	.main-content {
// 	width: 60%;
// 	margin: 0 auto;
// 	padding-top: 3%;
// }
// }

// @media (max-height:555px) {
// 	.main-content {
// 	width: 60%;
// 	margin: 0 auto;
// 	padding-top: 0%;
// }
// }

.main_title{
	font: 4em $logo-font;
	margin: auto;
	text-align: center;
	padding-top: 15%;

	@media only screen 
	and (max-width: 500px) and 
	(orientation: portrait) {
		padding-top: 8%;
		font: 2.5em $logo-font;
	}
}

	// @media screen 
	// and (orientation: landscape) 
	// and (max-width: $break-1000) {
	// padding-top:0;
	// }

	// @media screen 
	// and (orientation: portrait) 
	// and (max-width: 500px) {
	// padding-top: 8%;
	// font: 0.5em $logo-font;
	// }
// }

.main_text {
	font: 1.7em $main-font;
	text-align: center;
	margin-top: 1%;

	@media (max-width: 500px) {
	font: 1.2em $main-font;
	margin-bottom: 40px;
	}
}

@media only screen 
and (min-device-width : 320px)
and (max-device-width : 600px) {

}

	// @media screen and (max-width: 500px)
	// and (orientation: portrait) {
	// font: 0.5em $main-font;
	// }

.bold_text {
	font-weight: 700;
}

// .main_CTA {
// 	display: inline;
// 	font-size: 1.5em;
// 	// text-align: center;
// 	// margin-top: auto;
// 	// margin-bottom: auto;


// 	&:hover {
// 	text-decoration: none;
// 	background-color: $btn-bg-color-hover;
// 	}

// 	&:active {
// 		background-color: $btn-bg-color-active;
// 	}
// }

.main_CTA {
	width: 600px;
	margin-left: auto;
	margin-right: auto;

	@media only screen 
	and (max-width: 500px) and 
	(orientation: portrait) {
		width: 90%;
		font: 2.5em $logo-font;
	} 
}

// .main_CTA a .CTA_btn.left {
// 	float: left;
// 	position: relative;
// }

// .main_CTA a .CTA_btn.right {
// 	float: right;
// 	position: relative;
// }

.CTA_btn {
	border-radius: 4px;
	position: relative;
	height: 70px;
	width: 280px;
	margin-top:2%;
	margin-bottom: 1%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 11px;
	background-color: $btn-bg-color;
	color: #fff;
	text-align: center;
	position: relative;

	&.left {
	float: left;
	// margin-left: 25%;
	}

	&.right {
		float: right;
		// margin-right: 25%;
	}

	&.left, &.right { 
		@media screen 
		and (max-width: 500px) 
		and (orientation: portrait) {
		float: none;
		height: 60px;
		width: 50%;
		// margin-left: auto;
		// margin-right: auto;
		display: block;
		margin-bottom: 30px;
		margin-top: 20px;
		}

		@media screen
		and (max-width: 1000px) 
		and (orientation: landscape) {
		float: none;
		height: 100px;
		width: 40%;
		// margin-left: auto;
		// margin-right: auto;
		display: block;
		margin-bottom: 30px;
		margin-top: 20px;
		}
	}

}

// .main_CTA {
// 	width: 600px;
// }
// .CTA_btn.left {
// 	float: left;
// }

// .CTA_btn.right {
// 	float: right;
// }



// .CTA_btn.left {
// 	float: left;
// 	height: 70px;
// 	width: 17%;
// 	margin-left: 32%;
// 	margin-top:2%;
// 	margin-bottom: 1%;
// 	padding-top: 11px;
// 	background-color: $btn-bg-color;
// 	color: #fff;
// 	text-align: center;
// 	position: relative;
// }
	
// .CTA_btn.right {
// 	float: right;
// 	height: 70px;
// 	width: 17%;
// 	margin-right: 32%;
// 	margin-top:2%;
// 	margin-bottom: 1%;
// 	padding-top: 11px;
// 	background-color: $btn-bg-color;
// 	color: #fff;
// 	text-align: center;
// 	position: relative;
// }
.CTA_btn:hover {
	background-color: $btn-bg-color-hover;
	text-decoration: none;
}

.CTA_btn:active {
	background-color: #16A287;
}

.CTA_text {
	display: inline;
	position: absolute;
	font: 1.5em $main-font;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;

	@media only screen and (max-width: 500px) and (orientation:portrait) {
	font: 0.6em $main-font;
	}
	// text-align: center;
	// margin-top: auto;
	// margin-bottom: auto;


	&:hover {
	text-decoration: none;
	background-color: $btn-bg-color-hover;
	}

	&:active {
		background-color: $btn-bg-color-active;
	}
}

// @media (max-width:1400px) {
// 	.main_title{
// 		font: 3.4em $logo-font;
// 		margin: auto;
// 		text-align: center;
// 		padding-top: 15%;
// }

// 	.main_text {
// 		font: 1.5em $main-font;
// 		text-align: center;
// 		margin-top: 1%;
// 	}

// 	.CTA_btn {
// 	font: 0.8em $main-font;
// 	}
// }

// @media (max-width: 1000px) {

// 	.CTA_btn.left {
// 	float: none;
// 	height: 120px;
// 	width: 45%;
// 	margin: auto;
// 	display: block;
// 	margin-bottom: 30px;
// 	margin-top: 20px;
// 	}

// 	.CTA_btn.right {
// 	float: none;
// 	height: 120px;
// 	width: 45%;
// 	margin: auto;
// 	display: block;
// 	margin-bottom: 30px;
// 	margin-top: 20px;
// 	}

// 	.CTA_text {
// 	font-size: 3em;
// 	}
// }

// @media (max-width: 1000px) {
// 	.CTA_btn.left {
// 	float: left;
// 	height: 70px;
// 	width: 20%;
// 	margin-left: 29%;
// 	}

// 	.CTA_btn.right {
// 	float: right;
// 	height: 70px;
// 	width: 20%;
// 	margin-right: 29%;
// 	}
// }

// @media (max-width: 768px) {
// 	.CTA_btn.left {
// 	float: left;
// 	height: 70px;
// 	width: 24%;
// 	margin-left: 24%;
// 	}

// 	.CTA_btn.right {
// 	float: right;
// 	height: 70px;
// 	width: 24%;
// 	margin-right: 24%;
// 	}
// }