.home_main_container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	width:100%;
	background-image: url("/assets/images/Homebackground3.jpg");
	background-repeat: no-repeat;
	background-size: 100%;
}

.main_title{
	font: 4em $logo-font;
	margin: auto;
	text-align: center;
	padding-top: 15%;
}

.main_text {
	font: 1.7em $main-font;
	text-align: center;
	margin-top: 1%;
}

.bold_text {
	font-weight: 700;
}

.main_CTA {
	display: inline;
	font-size: 1.5em;

	&:hover {
	text-decoration: none;
	background-color: $btn-bg-color-hover;
	}

	&:active {
		background-color: $btn-bg-color-active;
	}
}

.CTA_btn {
	border-radius: 4px;
}

.CTA_btn.left {
	float: left;
	height: 70px;
	width: 320px;
	margin-left: 32%;
	margin-top:2%;
	margin-bottom: 1%;
	padding-top: 11px;
	background-color: $btn-bg-color;
	color: #fff;
	text-align: center;
}
	
.CTA_btn.right {
	float: right;
	height: 70px;
	width: 320px;
	margin-right: 32%;
	margin-top:2%;
	margin-bottom: 1%;
	padding-top: 11px;
	background-color: $btn-bg-color;
	color: #fff;
	text-align: center;
}
.CTA_btn:hover {
	background-color: $btn-bg-color-hover;
	text-decoration: none;
}

.CTA_btn:active {
	background-color: #16A287;
}