/* Navbar */

/*top links, search bar, navbar(for now)*/
.navbar{
	background-color: $header-bg-color;
	background-image: none;
	border: 0;
	height:80px;
	.navbar-nav{
		.active{
			a{
				background-color: transparent;
				background-image: none;
				color: $btn-bg-color;

				&:hover{
					background-color: transparent;
					background-image: none;
					color: $btn-bg-color;
				}
				&:focus{
					color:white;
					background-color: transparent;
					background-image: none;
				}
			}
		}

		li a{
			color: white;
			
			&:hover{
				color: $btn-bg-color;	
			}

			&:focus{
				color: white;
			}
		}
	}
}

/*Bootstrap overrides*/
.nav.navbar-nav {
	padding-top: 12px;
	font-size: 1em;
}

#logo {
	font-size: 2em;
	padding-top: 28px;

	@media screen 
	and (orientation: portrait) 
	and (max-width: 500px) {
		padding-top: 0;
		font: 2em $logo-font;
		}
}

.btn {
	font-size: 16px;
}

.form-control {
	font-size: 18px;
}

@media (max-width: 1000px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-default .navbar-toggle {
        display: block;
        border-width: 0;

    	&:hover {
    	background-color: transparent;
    	}
    }

    .navbar-header .navbar-toggle.collapsed:hover .icon-bar {
    background-color: #fff;
    }

    .navbar-default .navbar-toggle .icon-bar {
    background-color: #888;
	}

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
	.navbar-header .navbar-toggle.collapsed {
		margin-top: 20px;
	}
}

	@media (min-width: 360px) {
	.container {
    width: 95%;
	}
}
// @media (max-width: 992px) {
// 	.navbar-header .navbar-brand#logo{
// 	    margin-left: -20%;
// 	}
// }

// @media (max-width: 800px) {
// 	.navbar-header .navbar-brand#logo{
// 	    margin-left: -10%px;
// 	}
// }