/* Navbar */

/*top links, search bar, navbar(for now)*/
.navbar{
	background-color: $header-bg-color;
	background-image: none;
	border: 0;
	height:80px;
	.navbar-nav{
		.active{
			a{
				background-color: transparent;
				background-image: none;
				color: $btn-bg-color;

				&:hover{
					background-color: transparent;
					background-image: none;
					color: $btn-bg-color;
				}
				&:focus{
					color:white;
					background-color: transparent;
					background-image: none;
				}
			}
		}

		li a{
			color: white;
			
			&:hover{
				color: $btn-bg-color;	
			}

			&:focus{
				color: white;
			}
		}
	}
}

/*Bootstrap overrides*/
.nav.navbar-nav {
	padding-top: 12px;
	font-size: 1em;
}

#logo {
	font-size: 2em;
	padding-top: 28px;
}

.btn {
	font-size: 16px;
}

.form-control {
	font-size: 18px;
}